# Python
*.pyc
*.pyo
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/
.venv3/
env/
env.bak/
env/
env.bak/

# IDE
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.out
*.egg-info/
dist/
build/
*.egg

# Logs
*.log

# Miscellaneous
.DS_Store
Thumbs.db

# other
catboost_info/
archive/
